{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="product-container">
    <div class="product-info">
        <h1>{{ item.title }}</h1>
        <i>{{ item.description }}</i>
        <p>Price: {{ item.price }}PLN</p>
        <h2>Product category: <i>{{ item.category.name }}</i></h2>

        <a href="{% url 'shop:add-item' item.id %}" class="cart-btn">Add</a>
    </div>
    <div class="product-image">
        <img src="{{ item.image.url }}" alt="{{ item.title }}">
    </div>
</div>
{% endblock content %}