{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="cart">
    <h1>Choose address to delivery</h1>
    {% if addresses %}
        {% for address in addresses %}
            <a href="{% url 'shop:summary' address.id %}">
                <div class="address-container">
                    <div class="address-element">
                        <h3>{{ address.name }}</h3>
                        <p>{{ address.first_name }} {{ address.last_name }}</p>
                        <p>{{ address.street }} {{ address.house }} {% if address.apartment%}/ {{ address.apartment }} {% endif %}</p>
                        <p>{{ address.city }}, {{ address.postal_code }}</p>
                        <p>{{ address.country }}, {{ address.phone }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>You dont have any addresses, <a href="{% url 'users:addresses-add' %}">add</a> one.</p>
    {% endif %}
</div>

{% endblock content %}